.vector-background {
    /* background-image: url(../Images/Title-Background.png); */
    background-color: #151515 !important;
}

.title-header {
    /* !important enforces a style. (Overrides, bootstrap styling) */
    color: #EEEEEE !important;
}

/* This part is for the Header Section */
.navbar-items {
    color: #EEEEEE;
}

.Header-listItems {
    color: #EEEEEE;
    font-weight: 600;
}

.header-titleText {
    padding-left: 20px;
    color: #EEEEEE;
    font-weight: 600;  
}

.nav-link {
    text-decoration: none; /* Remove the default underline */
  }

  .nav-link:hover,
  .nav-link:focus,
  .nav-link:active {
    text-decoration: underline; /* Add underline on hover, focus, and active state */
    text-decoration-color: #C73659; /* Change the underline color to red */
    text-underline-offset: 15px; /* Adjust the space between the text and underline */
    text-decoration-thickness: 2px; /* Make the underline bolder */
    
  }

/* Header Section Ends Here */

/* This Part is for the Hero/Title Section/  */
.custom-color-header {
    color: #C73659;
}

.title-button {
    background-color: #C73659;
    border-color: #C73659;
}

.title-img {
    border-radius: 90%;
}

.Title-svg {
    /* Making the svg div container use flexbox and we are adding spacing using gap */
    display: flex;
    padding-top: 100px;
    gap: 30px;
}
/* Hero/Title Section ends here */


/* AAbout Section starts here */
.About-H1-Text {
    /* This is the Jumbotron About Header */
    color: #C73659 !important;
    font-weight: 600 ;
    padding-bottom: 35px;
    text-decoration: underline;
    text-underline-offset: 15px;
    text-decoration-thickness: 2px;
}
.About-Paragraph-Text {
    /* This is the main text in the jumbotron */
    color: #EEEEEE;
    font-weight: 300;
}

/* AAbout Section ends here */

/* Skills Section starts here */
#icon-grid h1 {
    text-align: center;
    color: #C73659;
    font-weight: 600 ;
    padding-bottom: 35px;
    text-decoration: underline;
    text-underline-offset: 15px;
    text-decoration-thickness: 2px;
}


#icon-grid h3 {
    color: #EEEEEE !important;
    padding-bottom: 15px;
    opacity: 0.5;
    
}

#icon-grid p {
    color: #EEEEEE;
    opacity: 0.9;
    
}

#icon-grid svg {
    padding-right: 10px;
    opacity: 0.5;
}
/* Skills Section ends here */


/* Projects Section starts Here */
.card-img-top {
    width: 100%;
    height: 225px; /* Set a fixed height for the images */
    object-fit: cover; /* Ensure the images cover the space without stretching */
}

.projects-title {
    text-align: center;
    color: #C73659;
    font-weight: 600 ;
    padding-bottom: 35px;
    text-decoration: underline;
    text-underline-offset: 15px;
    text-decoration-thickness: 2px;
}

.projects-card {
    background-color: #151515;
    border: 1px solid #EEEEEE;
}

.card-text {
    color: #EEEEEE;
    font-weight: 900;
}

.projects-button {
    background-color: #C73659;
    
}

.project-button {
    color: #EEEEEE;
    border-color: #C73659;
}
/* Projects section ends here */


/* Contact Section starts here */
.form-signin {
    max-width: 300px; /* Set your desired maximum width */
    padding-top: 100px;
}

.form-floating {
    padding-bottom: 5px;
    
}

.contact-title {
    /* For title */
    text-align: center;
    color: #A91D3A;
    font-weight: 600 !important;
    padding-bottom: 35px;
    text-decoration: underline;
    text-underline-offset: 15px;
    text-decoration-thickness: 2px;
}

.form-control {
    /* for all the text boxes */
    background-color: #EEEEEE;
    border-color: #EEEEEE;
    border-radius: 15px;
}

.contact-placeholder-text {
    /* For all place holder texts*/
    opacity: 0.6;
    font-weight: 700;
}

.message-text {
    /* For message text */
    height: 250px !important;
    background-color: #EEEEEE;
    border-color: #EEEEEE;
}


.contact-button {
    /* CSS for contact button */
    background-color: #A91D3A;
    border-color: #A91D3A;
    color: #EEEEEE;
    border-radius: 15px;
    height: 50px;
}
/* Contact Section ends here */


#footer-section {
   background-color: #1a1a1a;
   margin-top: 70px;
   
}

.footer-text {
    display: flex;
    gap: 50px;
}

.footer-text .nav-link {
    color: #EEEEEE !important;
}

.footer-info {
    display: flex;
    flex-direction: column;
}

.Footer-Name {
    color: #EEEEEE;
    font-size: x-large;
    font-weight: 900;
}

.footer-last-text {
    color: #EEEEEE;
    font-size: medium;
    font-weight: 900;
}